numpy==2.2.6
pandas
matplotlib==3.10.5
seaborn
pyarrow
fastparquet

# notebook env
ipykernel
ipython
openpyxl

# machine learning
scikit-learn

# Proceesing multi types of data
docling

# RAG requirements
# === LangChain Core & Engine ===
langchain              # Main framework to build LLM-based applications using modular chains and agents
langchain-core         # Lightweight core module: contains schemas, runtimes, and foundational tools

# === LangChain Plugins / Integrations ===
langchain-openai       # Official integration for OpenAI models (ChatGPT, GPT-4, embeddings, etc.)
langchain-community    # Community-contributed integrations: tools, vector stores, retrievers, and more

# === Dev Tools & Deployment ===
langsmith              # Observability platform: log, trace, and debug LLM apps with full visibility
fastapi                # FastAPI framework for building APIs
python-dotenv          # Load environment variables from .env file

# Agent frameworks
langgraph
typing
langchain-tavily

# GenAI integration
langchain-google-genai
langchain_community
google-generativeai

# Vector DBs
langchain_chroma

# LangChain core
langchain-text-splitters

# Utilities
tqdm           # Hiển thị thanh progress khi indexing

# Hugging Face Embeddings
sentence-transformers
langchain-huggingface

# Dependencies cho custom embedding
transformers
torch

pydantic